Gyermekvasút/Service References/Hálózat/gyv2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gyermekvas%C3%BAt" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gyermekvas%C3%BAt" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Vonat">
    <xs:sequence>
      <xs:element minOccurs="0" name="BejaratiJelzoElottVarakozik" type="xs:boolean" />
      <xs:element minOccurs="0" name="ElozoSzakaszrolLehoz" type="xs:boolean" />
      <xs:element minOccurs="0" name="KiterobolEgyenesbeVissza" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaradekInterval" type="xs:int" />
      <xs:element minOccurs="0" name="Menesztett" type="xs:boolean" />
      <xs:element minOccurs="0" name="VarakozikKezelve" type="xs:boolean" />
      <xs:element minOccurs="0" name="Vonatszam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vonat" nillable="true" type="tns:Vonat" />
</xs:schema>